html {
    background-color: salmon;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: turquoise;
}

p.mainText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: green;
}

div.buttonContainer {
    float: left;
    padding-right: 20px;
}

#buttons {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.button {
    background-color: #ff20f4;
    border: 1px solid #000000;
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
}

.button:hover {
    background-color: #c01cb8;
}

.button:focus {
    background-color: #a71a9f;
}